-- CreateTable
CREATE TABLE "GateEntry" (
    "id" TEXT NOT NULL,
    "entryType" TEXT NOT NULL,
    "visitorName" TEXT,
    "mobile" TEXT,
    "purpose" TEXT,
    "visitingPerson" TEXT,
    "department" TEXT,
    "vehicleNo" TEXT,
    "details" JSONB,
    "status" TEXT NOT NULL DEFAULT 'Expected',
    "expectedAt" TIMESTAMP(3),
    "checkInAt" TIMESTAMP(3),
    "checkOutAt" TIMESTAMP(3),
    "arrivalRemarks" TEXT,
    "checkoutRemarks" TEXT,
    "remarks" TEXT,
    "tenantId" TEXT NOT NULL,
    "unitId" TEXT NOT NULL,
    "recordedById" TEXT,
    "auditLogId" TEXT,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT,

    CONSTRAINT "GateEntry_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "GateEntry_auditLogId_key" ON "GateEntry"("auditLogId");

-- CreateIndex
CREATE INDEX "GateEntry_tenantId_idx" ON "GateEntry"("tenantId");

-- CreateIndex
CREATE INDEX "GateEntry_unitId_idx" ON "GateEntry"("unitId");

-- CreateIndex
CREATE INDEX "GateEntry_status_idx" ON "GateEntry"("status");

-- CreateIndex
CREATE INDEX "GateEntry_entryType_idx" ON "GateEntry"("entryType");

-- AddForeignKey
ALTER TABLE "GateEntry" ADD CONSTRAINT "GateEntry_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

