-- CreateTable
CREATE TABLE "ADLRecord" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "mobility" TEXT,
    "hygiene" TEXT,
    "feeding" TEXT,
    "notes" TEXT,
    "status" TEXT NOT NULL,
    "recordedById" TEXT,
    "tenantId" TEXT NOT NULL,
    "unitId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ADLRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Incident" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "severity" TEXT NOT NULL,
    "witnesses" TEXT,
    "actionTaken" TEXT,
    "tenantId" TEXT NOT NULL,
    "unitId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Incident_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "ADLRecord_patientId_createdAt_idx" ON "ADLRecord"("patientId", "createdAt");

-- CreateIndex
CREATE INDEX "Incident_patientId_createdAt_idx" ON "Incident"("patientId", "createdAt");

-- CreateIndex
CREATE INDEX "StockIssueRequest_patientId_createdAt_idx" ON "StockIssueRequest"("patientId", "createdAt");

-- CreateIndex
CREATE INDEX "VitalSign_patientId_createdAt_idx" ON "VitalSign"("patientId", "createdAt");

-- AddForeignKey
ALTER TABLE "VitalSign" ADD CONSTRAINT "VitalSign_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StockIssueRequest" ADD CONSTRAINT "StockIssueRequest_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "Patient"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ADLRecord" ADD CONSTRAINT "ADLRecord_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Incident" ADD CONSTRAINT "Incident_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

